<!-- if user is logged in than remove:-->
<section class="info">
<h1>Hi {{{ name }}}! Welcome to the Pokemon matching site!</h1>
<p>Get a match based on your favourite starter Pokemon!</p>
<p>Below are the same people who like {{{ pokemon }}}</p>
</section>

<!--if user is logged in only show matches-->

<h2>Liked users</h2>
<section class="matches">
	{{#each likedUsers}}
    <article class="match">
        <h3>{{this.name}}</h3>
        <p>{{this.pokemon}}</p>
    </article>
	{{/each}}
</section>